/*
.navbar-brand{
    float: none;
    height: 64px;
    display: inline-block;
}
.navbar > .navcont .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin: 0;
}
.navbar-header {
    text-align: center;
    float: none;
}
.navbar::before,.navcont::before,.navbar-header::before,{
    display: table;
    content:"";
}
*::before,*::after{
    box-sizing: border-box;
}
.navbar::after,.navcont::after,.navbar-header::after{
    clear: both;
    display: table;
    content: "";
}
div{
    display: block;
}
*{
    box-sizing: border-box;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
}
*/
header{
    background-color: #BCB5C5;
}
.drawer-hamburger{
    z-index: 4;
    padding: 20px;
}
.navcont{
    padding: 5px;
}
.drawer-overlay {
    z-index: 2;
}
.drawer-nav {
    z-index: 5000;
}
.navbar{
    padding: .1rem;
}
i{
    margin-right: 1vh;
}
.programbtn{
    color:white;
    font-weight:bold;
    background-color: #F7B46B;
    border-radius: 20px;
}
.titlebtn{
    border: none;
    background-color: #BCB5B5;
}
.drawer-menu-item{
    text-align: center;
    margin: 0 auto;
    display: block;
}
.drawer-menu-item:hover{
    background-color: #BCB5C5;
    color: white;
    text-decoration: none;
}
