
.bg-dm{
    background-color: #F8F9FA;
  }

.wrap {
	overflow: hidden;
}
.image {
    background: url(img/0abe36f8bf0ee02d1c7d36f5308986b8_m.jpg)no-repeat center;
    background-size: cover;
    text-align: center;
    background-color: white;
    z-index: 2;
}
.gazo {
    filter: drop-shadow(0 5px 5px rgba(0,0,0,0.6));
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.jumbotron-fluid{
    background-color: gray;
    position: relative;
}

.container-fluid.img {
    position: relative;
}

.container-fluid time::before {
    content: "|";
    color: gray;
}

.row time::before {
    content: "|";
    color: gray;
}

.text-small {
    font-size: 70%;
}
.text-middle {
    font-size: 85%;
}

.btn{
    display: inline-block;
}
.object{
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.heart{
    width: 100px;
    height: 100px;
    /* background: url(../../storage/image/web_heart_animation.png)no-repeat; */
    background: url(/storage/image/web_heart_animation.png)no-repeat;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    
}
.heart:focus{
        outline:0;
}
.hred{
    transition-delay: 5s;
    background-position: -2800px 0;  
    animation: fave-heart 1s steps(28);
}
.hnone{
    background-position: 0 0;
}
.hnone:active{
    background-position: 0 0;
    -webkit-transition:background 1s steps(28);
    transition:background 1s steps(28);
}
@keyframes fave-heart{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: -2800px 0;
    }
}
.object{
    z-index: 3;
}
.recruit{
    border-radius: 100px;
    background-color: #F7B46B;
    color: white;
    font-weight: bold;
    padding: 10px;
}